@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    /* border: 1px solid red; */
}
.hide{
    display: none;
}

.valid{
    color : limegreen;
    margin-left: 0.25rem;
}

.invalid{
    color:red;
    margin-left: 0.25rem;
}

.offscreen{
    position: absolute;
    left: -9999px;
}

.errmsg{
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 10px;
}

.line{
    display: inline-block;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.75rem;
    background: #000;
    color: #fff;
    padding: .25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-left: 0.25rem;
}

.time-slot-btn {
    padding: 10px;
    margin: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.blink-shimmer {
  animation: blink 1.2s infinite cubic-bezier(0.4, 0, 0.6, 1);
}
@keyframes blink {
  0%, 100% { opacity: 0.3; }
  50% { opacity: 1; }
}


